<!doctype html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>Speakers 2106| TEDx</title>

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/jquery.fancybox.css">
    <link rel="stylesheet" href="css/prettyPhoto.css">

    <script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
    <script src="js/modernizr.custom.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'>

    <script>
        $(document).ready(function() {

            $("#btn1").click(function() {
                $("li>img").filter("#2014").css("display","inherit");
            });

            $("#btn2").click(function() {
                $("li>img").filter("#2013").css("display","inherit");
            });


            $("li>img").filter("#2014").css("display","none");
            $("li>img").filter("#2013").css("display","none");
        });


    </script>
    <style type="text/css">
        .col-md-4 {
            padding-bottom: 1em !important;
        }
    </style>
</head>
<body>

    <!-- HEADER -->

<div class="container">
    <header class="xheader">
        <a href="/"><img class="xlogo" src="/img/logo_web.png"/></a>
        <p class="box1des pull-right" style="float: right;font-size: 1em;font-variant: normal;color: black;">Join us for the next session on <span class="xfont" style="font-size: 1.2em;color: black !important;">APRIL 1<sup>st</sup></span> 2017</p>

    </header>
    <ul class="nav nav-pills xnav">
    <li class="xnave"><a href="/">Home</a></li>
      <li role="presentation" class="dropdown xnave">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-haspopup="true" aria-expanded="false">
          Speakers <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li class="nave"><a href="/2017.ejs">2017</a></li>
            <li class="nave"><a href="/2016">2016</a></li>
            <li class="nave"><a href="/2015">2015</a></li>
            <li class="nave"><a href="/2014">2014</a></li>
            <li class="nave"><a href="/2013">2013</a></li>
        </ul>
      </li>
      <li class="xnave"><a href="/attend">Attend</a></li>
      <li class="xnave"><a href="/team">Team</a></li>
      <li class="xnave"><a href="/contact">Contact</a></li>
      <li class="xnave"><a href="/about">About</a></li>
    </ul>
</div>
<div class="xcontainer"></div>

<div class="container">
    <div class="row">
        <div class="col-md-12 box1des2">
            <h1 class="xabouthead">2016 Speakers</h1>
        </div>
    </div>
</div>

<div class="container portfolio" name="portfolio">
    <div class="col-md-12">
        <div class="row">   
    
        <div class="col-md-4 ">
            <div class="grid mask">
                <figure>
                    <img class="img-responsive" src="img/2016/0.jpeg" alt="">
                    <figcaption>
                        <h5>Ajita Suchitra Veera</h5>
                        <a data-toggle="modal" href="#zero-new" class="btn btn-primary btn-lg">View More</a>
                    </figcaption>
                </figure>
            </div>
        </div>
        
        <div class="col-md-4 ">
            <div class="grid mask">
                <figure>
                    <img class="img-responsive" src="img/2016/1.jpeg" alt="">
                    <figcaption>
                        <h5>Antano Solar John</h5>
                        <a data-toggle="modal" href="#one-new" class="btn btn-primary btn-lg">View More</a>
                    </figcaption>
                </figure>
            </div>
        </div>
        
        <div class="col-md-4 ">
            <div class="grid mask">
                <figure>
                    <img class="img-responsive" src="img/2016/3.jpeg" alt="">
                    <figcaption>
                        <h5>Kishore Mandhyan</h5>
                        <a data-toggle="modal" href="#three-new" class="btn btn-primary btn-lg">View More</a>
                    </figcaption>
                </figure>
            </div>
        </div>
        

        
        <div class="col-md-4 ">
            <div class="grid mask">
                <figure>
                    <img class="img-responsive" src="img/2016/5.jpeg" alt="">
                    <figcaption>
                        <h5>Srinivasa Chakravarthy</h5>
                        <a data-toggle="modal" href="#five-new" class="btn btn-primary btn-lg">View More</a>
                    </figcaption>
                </figure>
            </div>
        </div>
        
        <div class="col-md-4 ">
            <div class="grid mask">
                <figure>
                    <img class="img-responsive" src="img/2016/6.jpeg" alt="">
                    <figcaption>
                        <h5>Subramaniam Ramakrishnan</h5>
                        <a data-toggle="modal" href="#six-new" class="btn btn-primary btn-lg">View More</a>
                    </figcaption>
                </figure>
            </div>
        </div>
        
        <div class="col-md-4 ">
            <div class="grid mask">
                <figure>
                    <img class="img-responsive" src="img/2016/7.jpeg" alt="">
                    <figcaption>
                        <h5>Suresh Eriyat</h5>
                        <a data-toggle="modal" href="#seven-new" class="btn btn-primary btn-lg">View More</a>
                    </figcaption>
                </figure>
            </div>
        </div>
        
        <div class="col-md-4 ">
            <div class="grid mask">
                <figure>
                    <img class="img-responsive" src="img/2016/8.jpg" alt="">
                    <figcaption>
                        <h5>Anubhav Wadhwan</h5>
                        <a data-toggle="modal" href="#eight-new" class="btn btn-primary btn-lg">View More</a>
                    </figcaption>
                </figure>
            </div>
        </div>

        <div class="col-md-4 ">
            <div class="grid mask">
                <figure>
                    <img class="img-responsive" src="img/2016/9.jpg" alt="">
                    <figcaption>
                        <h5>Ritham Banerjee</h5>
                        <a data-toggle="modal" href="#nine-new" class="btn btn-primary btn-lg">View More</a>
                    </figcaption>
                </figure>
            </div>
        </div>

       
  
            <!--      
        <div class="col-md-4 ">
            <div class="grid mask">
                <figure>
                    <img class="img-responsive" src="img/2016/09.jpeg" alt="">
                    <figcaption>
                        <h5>Mathew Spacie</h5>
                        <a data-toggle="modal" href="#nine-new" class="btn btn-primary btn-lg">View More</a>
                    </figcaption>
                </figure>
            </div>
        </div>
        
        <div class="col-md-4 ">
            <div class="grid mask">
                <figure>
                    <img class="img-responsive" src="img/2015/10.jpeg" alt="">
                    <figcaption>
                        <h5>Pranav Kumar Suresh</h5>
                        <a data-toggle="modal" href="#ten-new" class="btn btn-primary btn-lg">View More</a>
                    </figcaption>
                </figure>
            </div>
        </div>
        
        <div class="col-md-4 ">
            <div class="grid mask">
                <figure>
                    <img class="img-responsive" src="img/2015/11.jpeg" alt="">
                    <figcaption>
                        <h5>David Wittenberg</h5>
                        <a data-toggle="modal" href="#eleven-new" class="btn btn-primary btn-lg">View More</a>
                    </figcaption>
                </figure>
            </div>
        </div>
        
        <div class="col-md-4 ">
            <div class="grid mask">
                <figure>
                    <img class="img-responsive" src="img/2015/12.jpeg" alt="">
                    <figcaption>
                        <h5>Rashika Shekar</h5>
                        <a data-toggle="modal" href="#twelve-new" class="btn btn-primary btn-lg">View More</a>
                    </figcaption>
                </figure>
            </div>
        </div>
            -->
        </div>
    </div>
</div>
    

<div>

                <div class="modal fade" id="zero-new" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                  <h4 class="modal-title">Ajita Suchitra Veera</h4>
                                </div>
                                <div class="modal-body">
                                  <p><img class="img-responsive" src="img/2016/0.jpeg" alt=""></p>
                                  <p>Ajita Suchitra Veera who is an Indian film director, writer, illustrator, photographer, and a film producer. She is best known for a highly visual, grand, epic, cinematic style, with unconventional narrative structures breaking form, blending reality and imagination, fantasy, dreams, scientific, philosophical, metaphysical and humanistic ideas. Her film "Ballad of Rustom" was in Oscar contention for Best Picture 86th Academy Awards 2014. Her earlier short film "Notes on Her" was an official entry to the Oscars in 2003. Her First Feature Film "Ballad of Rustom" which she wrote, directed and produced and she also did production design, collaborated on film editing, sound design and music, was described as a "powerful cinematographic poem, epic, and faustian" by The 61st International Film Festival in Germany. 
</p>
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>
                              </div>
                            </div>
                          </div>
                          
                          

                
                <div class="modal fade" id="one-new" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                  <h4 class="modal-title">Antano Solar John</h4>
                                </div>
                                <div class="modal-body">
                                  <p><img class="img-responsive" src="img/2016/1.jpeg" alt=""></p>
                                  <p>Antano Solar John is a tech evangelist who is passionate about revolutionizing the entire learning experience with the help of technology.You have a challenge? He has a solution.It all started with a passion for coding when he was as young as eight and within a few years he began helping engineering students with their projects by coding and debugging computer programs. While still in high school  he always wondered about why some of his friends could not learn and achieve like him. He set out to learn the tricks of the trade from  Dr.Richard Bandler and was thrilled to learn how elegantly and artfully one could overcome limiting factors in one’s life without wasting years carrying the heavy baggage of limiting beliefs, habits, behaviors and memories. He experimented how the patterns of Neuro Linguistic Programming worked in a variety of situations whenever he had time outside his busy career as the chief technology officer(CTO) of Nuveda.By then he had completed his Masters in Neuro Linguistic Programming under Dr.Richard Bandler. Having reached a new level of mastery and fully equipped to solve problems of a more complex nature, life soon presented him one serious challenge when a friend of his requested him to work with another friend who was paralyzed below the chest with a C5 condition. Now, it was no longer just fun but also a responsibility. A big responsibility.Today he Co-Owns School of Excellence with Harini Ramachandran with the vision of "Creating Generations and Generations of Excellence".</p>
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>
                              </div>
                            </div>
                          </div>
                          
                <div class="modal fade" id="two-new" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
                            <div class="modal-dialog">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                  <h4 class="modal-title">Baiju Dharmajan</h4>
                                </div>
                                <div class="modal-body">
                                  <p><img class="img-responsive" src="img/2016/2.jpeg" alt=""></p>
                                  <p>Baiju Dharmajan is an Indian guitarist, music composer, producer and guitar tutor based out of Kochi, Kerala. A celebrated musician in his own country, Baiju had an extended stint during the 2000s as the lead guitarist of the Indian rock band Motherjane. He has been nicknamed the "God of Small Strings" by his fans. Baiju is particularly noted for his winding, Carnatic-inspired and enduring guitar solos. Baiju was thrice voted as the best guitarist at the Jack Daniel's Rock Awards . The latest being in the year 2013–2014.</p>
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>
                              </div>
                            </div>
                          </div>          
                          
                          
                <div class="modal fade" id="three-new" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                  <h4 class="modal-title">Kishore Mandhyan</h4>
                                </div>
                                <div class="modal-body">
                                  <p><img class="img-responsive" src="img/2016/3.jpeg" alt=""></p>
                                  <p>Kishore Mandhyan, former political director for peacekeeping, humanitarian and human rights affairs at the United Nations.Compassion and the multitudinous layers of human interaction drive him towards peace. He worked with the United Nations Civil Affairs both in Western Slavonia and Eastern Slavonia in Croatia and in Bosnia.Later he became Chief of United Nations Civil Affairs Mission for Bosnia-Hercegovina in Sarajevo. Between 2000 and 2003 he was head of the United Nations Liaison Office, UNLO, in Croatia.Later he transferred to Cyprus and Amman and has served, since mid-2004, as political advisor to Ashraf Jehangir Qazi, the UN Secretary-General's Special Envoy to Iraq.While world is running towards the achievement of world peace while this man is on the other side of the coin, who is actually working towards maintaining it.</p>
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>
                              </div>
                            </div>
                          </div>    
                          
            <div class="modal fade" id="four-new" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                  <h4 class="modal-title">Masukbhai Prajapathi</h4>
                                </div>
                                <div class="modal-body">
                                  <p><img class="img-responsive" src="img/2016/4.jpeg" alt=""></p>
                                  <p>
Mansukhbhai Prajapati is a man who recognizes problems everywhere in his native India, but you won’t hear him complain about any of them. This serial inventor is an indomitable optimist who simply cranks out one solution after another. He is Indian Innovator known for earthen clay based projects like MittiCool.He is the holder of the Indian patents for these products, that boast high efficiency in an eco-friendly nature.As school drop-out(at this point we are not even surprised), he has achieved a feat that many in the world envy today.  His ambition is to make more low-cost and eco-friendly products for the masses.</p>
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>
                              </div>
                            </div>
                          </div>    
                          
            <div class="modal fade" id="five-new" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                  <h4 class="modal-title">Srinivasa Chakravarthy</h4>
                                </div>
                                <div class="modal-body">
                                  <p><img class="img-responsive" src="img/2016/5.jpeg" alt=""></p>
                                  <p>Necessity is mother of invention. V. Srinivasa Chakravarthy, a professor at IIT Madras felt that  majority of Indian language scripts are organized in terms of vowels and consonants. If all those scripts represent nearly the same set of characters then why do we have so many scripts? A single script that represents all of them should suffice.  The thought of one language ignited seven years ago, to create a script with a simple goal of enabling communication in all language. a unified script that can convey information in all Indian languages, said the professor of biotechnology, whose work spans computational neuroscience and pattern recognition.</p>
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>
                              </div>
                            </div>
                          </div>    
            
            <div class="modal fade" id="six-new" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                  <h4 class="modal-title">Subramaniam Ramakrishnan</h4>
                                </div>
                                <div class="modal-body">
                                  <p><img class="img-responsive" src="img/2016/6.jpeg" alt=""></p>
                                  <p>Indian cricket team’s performance analyst, Subramanian Ramakrishnan (Ramky), is the founder of Sports Mechanics, which converts raw data into intelligence to enhance the performance of cricketers and other sporting professionals. The services of SportsMechanics have helped top Indian players like Sachin Tendulkar, Virendra Sehwag, and captain Mahendra Singh Dhoni improve their performance.</p>
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>
                              </div>
                            </div>
                          </div>    
                          
            <div class="modal fade" id="seven-new" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                  <h4 class="modal-title">Suresh Eriyat</h4>
                                </div>
                                <div class="modal-body">
                                  <p><img class="img-responsive" src="img/2016/7.jpeg" alt=""></p>
                                  <p>
The man who ran behind his hobby and made it his profession, Suresh Eriyat is much more than just a creative animator. He set up Studio Eeksaurus in 2009, India’s first studio which has mastered the art of intertwining animation with live action to synthesize new ideas and unforgettable brand identities. Suresh has a keen eye for detail; his work is a reflection of that fact.With a strong understanding of the history of a brand, he incorporates its ethos and culture into his artwork. With a portfolio of over 300 ad films, and over 100 national and international awards, Suresh’s work has been recognised at key industry platforms.</p>
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>
                              </div>
                            </div>
                          </div>                          
                                          
          <div class="modal fade" id="eight-new" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                  <h4 class="modal-title">Anubhav Wadhwan</h4>
                                </div>
                                <div class="modal-body">
                                  <p><img class="img-responsive" src="img/2016/8.jpg" alt=""></p>
                                  <p>Anubhav Wadhwan</p>
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>
                              </div>
                            </div>
                          </div>
        <div class="modal fade" id="nine-new" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                  <h4 class="modal-title">Ritam Banerjee</h4>
                                </div>
                                <div class="modal-body">
                                  <p><img class="img-responsive" src="img/2016/9.jpg" alt=""></p>
                                  <p>Based out of Mumbai, Ritam has never quite understood the need to create a niche. Shooting extensively across categories— advertising, automobile, portraits, fashion, corporate, architecture & interiors, products, travel, industrial, photojournalism, food —he has always sought inspiration and challenge in variety, framing things as disparate as spas and slums, ketchup and cars.Over the last decade, Ritam has worked with corporates and publications across continents. He is also associated with the global agency, Getty Images.
                                    <br>
                                  Apart from stills, Ritam has been awarded for cinematography in feature films at several international film festivals.Often invited to be on the jury at national and international competitions, he has also been in the news for his theme-based calendars and exhibitions across the globe.</p>
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>
                              </div>
                            </div>
                          </div>

        <div class="modal fade" id="ten-new" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                  <h4 class="modal-title">Rwitwika Bhattacharya</h4>
                                </div>
                                <div class="modal-body">
                                  <p><img class="img-responsive" src="img/2016/10.jpg" alt=""></p>
                                  <p>Rwitwika is the founder of the Swaniti Initiative. Initiative, an NGO which consults MPs and MLAs on how to bring about development in their respective constituencies. An onerous task, but ask her and she will tell you that the idea of working with public representatives attracted her even when she was a child. It helped that Bhattacharya’s father is a politician himself and that gave her exposure at an early age.Prior to working on Swaniti’s foundation, she worked at the World Bank as an Associate in the Growth and Competitiveness area. She is a graduate of the Harvard Kennedy School’s Master in Public Policy program and specializes in the areas of youth employment. Her publications include Frontiers in Development Policy (World Bank), A Primer on Labor Policies (World Bank) and Global Business School Network (Harvard Business School Case).</p>
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>
                              </div>
                            </div>
                          </div>
                          
            <div class="modal fade" id="eleven-new" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                  <h4 class="modal-title">David Wittenberg</h4>
                                </div>
                                <div class="modal-body">
                                  <p><img class="img-responsive" src="img/2015/11.jpg" alt=""></p>
                                  <p>He is the CEO of The Innovation Workgroup . He is well known for working with leading Indian and multinational corporations to increase revenues and cut costs by hundreds of millions of dollars through world-class innovation.He also happens to be an internationally recognized keynote speaker on innovation and other relevant business subjects and has also authored a book titled The Executive's Guide to Innovation. He is constantly referred to as India's resident expert on innovation. Lastly, he is also a polyglot,knowing six languages which he speaks fluently.</p>
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>
                              </div>
                            </div>
                          </div>    
                          
            <div class="modal fade" id="twelve-new" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                  <h4 class="modal-title">Rashika Chandrasekharan</h4>
                                </div>
                                <div class="modal-body">
                                  <p><img class="img-responsive" src="img/2015/12.jpg" alt=""></p>
                                  <p>Rasika was born in Dubai and later moved to the USA. Her mother comes from a musical background and encouraged her to take music lessons too. Rasika always wanted to learn the bansuri and later went on to play at ghazal concerts, which helped her immensely to understand music better. She is constantly working on innovating with the bansuri and also takes singing lessons in Mumbai. For her, CokeStudio@MTV has been an enriching experience both in terms of singing and playing the flute.</p>
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>
                              </div>
                            </div>
                          </div>
</div>

    </br>
    </br>

    <div class="section" style="background: #e3e3e3;">
        <div class="container">
            <footer style="width: 100%;text-align: center;">
                <span class="">All Rights Reserved &copy;<a target="_blank" href="https://www.facebook.com/TEDxGITAMUniversity"><span class="xted">TED<sup>x</sup></span><span class="gu">GITAMUniversity 2017</span></a></span>
            </footer>
        </div>
    </div>

    <script type="text/javascript" src="js/vendor/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
    <script type="text/javascript" src="js/jquery.isotope.min.js"></script>
    <script type="text/javascript" src="js/jquery.prettyPhoto.js"></script>
    <script type="text/javascript" src="js/jquery.fancybox.pack.js"></script>
    <script type="text/javascript" src="js/jquery.fancybox-media.js"></script>
    <script type="text/javascript" src="js/plugins.js"></script>

</body>
</html>
