<!doctype html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title></title>

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/jquery.fancybox.css">
    <link rel="stylesheet" href="css/prettyPhoto.css">

    <script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
    <script src="js/modernizr.custom.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'>

    <script>
        $(document).ready(function() {

            $("#btn1").click(function() {
                $("li>img").filter("#2014").css("display","inherit");
            });

            $("#btn2").click(function() {
                $("li>img").filter("#2013").css("display","inherit");
            });


            $("li>img").filter("#2014").css("display","none");
            $("li>img").filter("#2013").css("display","none");
        });


    </script>
</head>
<body>

    <!-- HEADER -->

    <div class="container">
        <header class="xheader">
            <a href="/"><img class="xlogo" src="/img/logo_web.png"/></a>
            <p class="box1des pull-right" style="float: right;font-size: 1em;font-variant: normal;color: black;">Join us for the next session on <span class="xfont" style="font-size: 1.2em;color: black !important;">APRIL 1<sup>st</sup></span> 2017</p>
        </header>

        <ul class="nav nav-pills xnav">
            <li class="xnave"><a href="/">Home</a></li>
            <li role="presentation" class="dropdown xnave">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-haspopup="true" aria-expanded="false">Speakers <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                <li class="nave"><a href="/2017">2017</a></li>
                <li class="nave"><a href="/2016">2016</a></li>
                <li class="nave"><a href="/2015">2015</a></li>
                <li class="nave"><a href="/2014">2014</a></li>
                <li class="nave"><a href="/2013">2013</a></li>
                </ul>
            </li>
            <li class="xnave"><a href="/attend">Attend</a></li>

            <li class="xnave"><a href="/team">Team</a></li>
            <li class="xnave"><a href="/partners">Partners</a></li>

            <li class="xnave"><a href="/contact">Contact</a></li>
            <li class="xnave"><a href="/about">About</a></li>
        </ul>
    </div>
    <div class="xcontainer"></div>

    <div class="container">
        <div class="row">
            <div class="col-md-12 box1des2">
                <h1 class="xabouthead">Our Partner</h1>
            </div>
            

            <div class="col-md-6 col-md-offset-3 box1des2">
                <img style="width: 100%;" src="/img/spartans.jpg" class="xpartnerimg">

            </div>
            <div class="col-md-12 box1des2">
                <h1 class="xabouthead">Our previous partners</h1>
            </div>

            <div class="col-md-6 col-md-offset-3" class="xpartnerimg">
                 <a href="https://www.vizagsteel.com" target="_blank"><img src="img/partners/VSP.png" class="img-responsive xpartnerimg" alt="2014 partners"></a>
            </div>

        </div>

        <div class="row">
            <div class="col-md-3">
                <a href="https://www.brandix.com" target="_blank"><img src="img/partners/Brandix.png" class="img-responsive xpartnerimg" alt="2014 partners"></a>
            </div>
            <div class="col-md-3">
                <a href="https://www.edwiseinternational.com/" target="_blank"><img src="img/partners/EdWise.png" class="img-responsive xpartnerimg" alt="2014 partners"></a>
            </div>
            <div class="col-md-3">
                <a href="https://www.nirvanainyoga.com/" target="_blank"><img src="img/partners/Nirvana.png" class="img-responsive xpartnerimg" alt="2014 partners"></a>
            </div>
            <div class="col-md-3">
                <a href="https://www.orientalinsurance.org.in/" target="_blank"><img src="img/partners/Oi.png" class="img-responsive xpartnerimg" alt="2014 partners"></a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <a href="https://www.samudrasoftware.com/" target="_blank"><img src="img/partners/Samudra.png" class="img-responsive xpartnerimg" alt="2014 partners"></a>
            </div>
            <div class="col-md-3">
                <a href="https://www.schedioart.in/" target="_blank"><img src="img/partners/Schedio.png" class="img-responsive xpartnerimg" alt="2014 partners"></a>
            </div>
            <div class="col-md-3">
                <a href="https://www.ttkhealthcare.com/" target="_blank"><img src="img/partners/TTK.png" class="img-responsive xpartnerimg" alt="2014 partners"></a>
            </div>
            <div class="col-md-3">
                <a href="http://www.yovizag.com" target="_blank"><img src="img/partners/YoVizag.png" class="img-responsive xpartnerimg" alt="2014 partners"></a>
            </div>
        </div>

        <div class="row">

        <div class="col-md-6">
        
            <a href="https://www.thegatewayhotels.com/beachroadvisakhapatnam/overview.html" target="_blank"><img src="img/partners/Gateway.png" class="img-responsive xpartnerimg" alt="2014 partners"></a>
        </div>

        <div class="col-md-6">
            <a href="https://www.akbartravels.com/" target="_blank"><img src="img/partners/Akbar.png" class="img-responsive xpartnerimg" alt="2014 partners"></a>
        </div>
    </div>

    

    <div class="row">
        <div class="col-md-12 box1des2">
            <h1 class="xabouthead">Reach out to us</h1>
        </div>

        <div class="col-md-12 box1des2">
        <p class="lead">For questions, suggestions, partnership, or if want to join the team, please give us a call.</p>
        <p>Siddarth Varma: <small>+91</small><strong> 8019142448</strong><br>
            Pranay Metta: <small>+91</small><strong> 7893352626</strong></p>
        <p>You can also send us a mail us at contact@tedxgitamuniversity.com, or click this <a href="/contact">link</a>.</p>
        </div>


    </div>
    </div>




    <div class="section" style="background: #e3e3e3;">
        <div class="container">
            <footer style="width: 100%;text-align: center;">
                <span class="">All Rights Reserved &copy;<a target="_blank" href="https://www.facebook.com/TEDxGITAMUniversity"><span class="xted">TED<sup>x</sup></span><span class="gu">GITAMUniversity 2017</span></a></span>
            </footer>
        </div>
    </div>

    <script type="text/javascript" src="js/vendor/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
    <script type="text/javascript" src="js/jquery.isotope.min.js"></script>
    <script type="text/javascript" src="js/jquery.prettyPhoto.js"></script>
    <script type="text/javascript" src="js/jquery.fancybox.pack.js"></script>
    <script type="text/javascript" src="js/jquery.fancybox-media.js"></script>
    <script type="text/javascript" src="js/plugins.js"></script>

</body>
</html>
