<!doctype html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>team | TEDx</title>

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/jquery.fancybox.css">
    <link rel="stylesheet" href="css/prettyPhoto.css">

    <script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
    <script src="js/modernizr.custom.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'>

    <script>
        $(document).ready(function() {

            $("#btn1").click(function() {
                $("li>img").filter("#2014").css("display","inherit");
            });

            $("#btn2").click(function() {
                $("li>img").filter("#2013").css("display","inherit");
            });


            $("li>img").filter("#2014").css("display","none");
            $("li>img").filter("#2013").css("display","none");
        });


    </script>
</head>
<body>

    <!-- HEADER -->

    <div class="container">
        <header class="xheader">
            <a href="/"><img class="xlogo" src="/img/logo_web.png"/></a>
            <p class="box1des pull-right" style="float: right;font-size: 1em;font-variant: normal;color: black;">Join us for the next session on <span class="xfont" style="font-size: 1.2em;color: black !important;">APRIL 1<sup>st</sup></span> 2017</p>
        </header>

        <ul class="nav nav-pills xnav">
            <li class="xnave"><a href="/">Home</a></li>
            <li role="presentation" class="dropdown xnave">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-haspopup="true" aria-expanded="false">Speakers <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                <li class="nave"><a href="/2017">2017</a></li>
             <li class="nave"><a href="/2016">2016</a></li>
            <li class="nave"><a href="/2015">2015</a></li>
            <li class="nave"><a href="/2014">2014</a></li>
            <li class="nave"><a href="/2013">2013</a></li>
                </ul>
            </li>
            <li class="xnave"><a href="/team">Team</a></li>
            <li class="xnave"><a href="/contact">Contact</a></li>
            <li class="xnave"><a href="/about">About</a></li>
        </ul>
    </div>
    <div class="xcontainer"></div>

    <!-- BOXTEAM-->

    <section id="team" class="bg-light-gray">
        <div class="container">
            <br>
            <br>
            <div class="row">
                <div class="col-sm-3">
                </div>
                <div class="col-sm-3">
                    <div class="team-member">
                        <img src="img/team/1.png" class="img-responsive img-circle" alt="">
                        <h4>Pranay Metta</h4>
                        <p class="text-muted">Licensee & Organizer</p>
                        <ul class="list-inline social-buttons">
                        </ul>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="team-member">
                        <img src="img/team/2.png" class="img-responsive img-circle" alt="">
                        <h4>Anuhya Mallisetty</h4>
                        <p class="text-muted">Co-Organizer</p>
                        <ul class="list-inline social-buttons">
                        </ul>
                    </div>
                </div>
                <div class="col-sm-3">
                </div>
            </div>




            <div class="row">
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="img/team/3.png" class="img-responsive img-circle" alt="">
                        <h4>Jagadeesh Vattikonda</h4>
                        <ul class="list-inline social-buttons">
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="img/team/4.png" class="img-responsive img-circle" alt="">
                        <h4>Ravi Shankar</h4>
                        <ul class="list-inline social-buttons">
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="img/team/5.png" class="img-responsive img-circle" alt="">
                        <h4>Akella Chandrakanth</h4>
                        <ul class="list-inline social-buttons">
                        </ul>
                    </div>
                </div>
            </div>

            
            <div class="row">
            <div class="col-sm-3">
            </div>
            <div class="col-sm-3">
                <div class="team-member">
                    <img src="img/team/6.png" class="img-responsive img-circle" alt="">
                    <h4>Raghu Ram Malla</h4>
                    <ul class="list-inline social-buttons">
                    </ul>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="team-member">
                    <img src="img/team/7.png" class="img-responsive img-circle" alt="">
                    <h4>Abishek Madduri</h4>
                    <ul class="list-inline social-buttons">
                    </ul>
                </div>
            </div>
            <div class="col-sm-3">
            </div>
        </div>




        <div class="row">
            <div class="col-sm-4">
                <div class="team-member">
                    <img src="img/team/8.png" class="img-responsive img-circle" alt="">
                    <h4>Raghava Ram Ganta</h4>
                    <ul class="list-inline social-buttons">
                    </ul>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="team-member">
                    <img src="img/team/9.png" class="img-responsive img-circle" alt="">
                    <h4>Ritu Vellanki</h4>
                    <ul class="list-inline social-buttons">
                    </ul>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="team-member">
                    <img src="img/team/10.png" class="img-responsive img-circle" alt="">
                    <h4>Hemanth Kumar Lotheti</h4>
                    <ul class="list-inline social-buttons">
                    </ul>
                </div>
            </div>
        </div>

        <div class="row">
        <div class="col-sm-3">
        </div>
        <div class="col-sm-3">
            <div class="team-member">
                <img src="img/team/11.png" class="img-responsive img-circle" alt="">
                <h4>Chandra Mouli Vanka</h4>
                <ul class="list-inline social-buttons">
                </ul>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="team-member">
                <img src="img/team/12.png" class="img-responsive img-circle" alt="">
                <h4>D Susanth Sampath</h4>
                <ul class="list-inline social-buttons">
                </ul>
            </div>
        </div>
        <div class="col-sm-3">
        </div>
    </div>




    <div class="row">
        <div class="col-sm-4">
            <div class="team-member">
                <img src="img/team/13.png" class="img-responsive img-circle" alt="">
                <h4>B Neelakanteswar Patnaik</h4>
                <ul class="list-inline social-buttons">
                </ul>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="team-member">
                <img src="img/team/14.png" class="img-responsive img-circle" alt="">
                <h4>Niharika Putta</h4>
                <ul class="list-inline social-buttons">
                </ul>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="team-member">
                <img src="img/team/15.png" class="img-responsive img-circle" alt="">
                <h4>Shiva Puppala</h4>
                <ul class="list-inline social-buttons">
                </ul>
            </div>
        </div>
    </div>

    <div class="row">
    <div class="col-sm-3">
    </div>
    <div class="col-sm-3">
        <div class="team-member">
            <img src="img/team/16.png" class="img-responsive img-circle" alt="">
            <h4>Kranti Kumar Reddy </h4>
            <ul class="list-inline social-buttons">
            </ul>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="team-member">
            <img src="img/team/17.png" class="img-responsive img-circle" alt="">
            <h4>Kumar Utkarsh</h4>
            <ul class="list-inline social-buttons">
            </ul>
        </div>
    </div>
    <div class="col-sm-3">
    </div>
</div>




<div class="row">
    <div class="col-sm-4">
        <div class="team-member">
            <img src="img/team/18.png" class="img-responsive img-circle" alt="">
            <h4>Mayukha Avasarala</h4>
            <ul class="list-inline social-buttons">
            </ul>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="team-member">
            <img src="img/team/19.png" class="img-responsive img-circle" alt="">
            <h4>Vineet Gunda</h4>
            <ul class="list-inline social-buttons">
            </ul>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="team-member">
            <img src="img/team/20.png" class="img-responsive img-circle" alt="">
            <h4>Puneet Indukuri</h4>
            <ul class="list-inline social-buttons">
            </ul>
        </div>
    </div>
</div>

    <div class="row">
    <div class="col-sm-3">
    </div>
    <div class="col-sm-3">
        <div class="team-member">
            <img src="img/team/21.png" class="img-responsive img-circle" alt="">
            <h4>Ritesh Kumar</h4>
            <ul class="list-inline social-buttons">
            </ul>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="team-member">
            <img src="img/team/22.png" class="img-responsive img-circle" alt="">
            <h4>Pavan Raghav</h4>
            <ul class="list-inline social-buttons">
            </ul>
        </div>
    </div>
    <div class="col-sm-3">
    </div>
</div>




<div class="row">
    <div class="col-sm-4">
        <div class="team-member">
            <img src="img/team/23.png" class="img-responsive img-circle" alt="">
            <h4>A Pritham</h4>
            <ul class="list-inline social-buttons">
            </ul>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="team-member">
            <img src="img/team/24.png" class="img-responsive img-circle" alt="">
            <h4>Koushik Bali</h4>
            <ul class="list-inline social-buttons">
            </ul>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="team-member">
            <img src="img/team/25.png" class="img-responsive img-circle" alt="">
            <h4>Aishwarya Sai Thota</h4>
            <ul class="list-inline social-buttons">
            </ul>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-4">
        <div class="team-member">
            <img src="img/team/26.png" class="img-responsive img-circle" alt="">
            <h4>Amani Kuntilla</h4>
            <ul class="list-inline social-buttons">
            </ul>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="team-member">
            <img src="img/team/27.png" class="img-responsive img-circle" alt="">
            <h4>Vaishnavi Datla</h4>
            <ul class="list-inline social-buttons">
            </ul>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="team-member">
            <img src="img/team/28.png" class="img-responsive img-circle" alt="">
            <h4>Pranay Devaki</h4>
            <ul class="list-inline social-buttons">
            </ul>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-4">
        <div class="team-member">
            <img src="img/team/29.png" class="img-responsive img-circle" alt="">
            <h4>Naveen Raja Reddy</h4>
            <ul class="list-inline social-buttons">
            </ul>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="team-member">
            <img src="img/team/30.png" class="img-responsive img-circle" alt="">
            <h4>Vennela Posika</h4>
            <ul class="list-inline social-buttons">
            </ul>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="team-member">
            <img src="img/team/31.png" class="img-responsive img-circle" alt="">
            <h4>Pavan Sai</h4>
            <ul class="list-inline social-buttons">
            </ul>
        </div>
    </div>
</div>

            
            
            
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p class="large text-muted"> Thank You.</p>
                </div>
            </div>
        </div>
    </section>



    <div class="section" style="background: #e3e3e3;">
        <div class="container">
            <footer style="width: 100%;text-align: center;">
                <span class="">All Rights Reserved &copy;<a target="_blank" href="https://www.facebook.com/TEDxGITAMUniversity"><span class="xted">TED<sup>x</sup></span><span class="gu">GITAMUniversity 2017</span></a></span>
            </footer>
        </div>
    </div>

    <script type="text/javascript" src="js/vendor/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
    <script type="text/javascript" src="js/jquery.isotope.min.js"></script>
    <script type="text/javascript" src="js/jquery.prettyPhoto.js"></script>
    <script type="text/javascript" src="js/jquery.fancybox.pack.js"></script>
    <script type="text/javascript" src="js/jquery.fancybox-media.js"></script>
    <script type="text/javascript" src="js/plugins.js"></script>

</body>
</html>
